@model IEnumerable<Titles>
<link rel="stylesheet" href="~/css/GamesTitles.css" asp-append-version="true" />
<html>
<head>

</head>
<body>
    <div class="container1">
        <div class="griditem">
            <img id="gameimg" src="~/css/reddeadBanner.jpg" />
            <h2>RED DEAD REDEMPTION</h2>
            <h2>PRICE $59.99</h2>
            <a asp-action="Edit" asp-route-id="@Model">Details</a>
        </div>
        <div class="griditem">
            <img id="gameimg" src="~/css/CallofDuty.jpg" />
            <h2>Call Of Duty</h2>
            <h2>PRICE $59.99</h2>
        </div>
        <div class="griditem">
            <img id="gameimg" src="~/css/Halo.jpg" />
            <h2>HALO</h2>
            <h2>PRICE $59.99</h2>
        </div>
        <div class="griditem">
            <img id="gameimg" src="~/css/assassin.jpg" />
            <h2>assassin's creed</h2>
            <h2>PRICE $59.99</h2>

        </div>
        <div class="griditem">
            <img id="gameimg" src="~/css/Hitman.jpg" />
            <h2>Hitman</h2>
            <h2>PRICE $59.99</h2>
        </div>
        <div class="griditem">
            <img id="gameimg" src="~/css/overwatch.jpg" />
            <h2>OverWatch</h2>
            <h2>PRICE $59.99</h2>
        </div>
        <div class="griditem">
            <img id="gameimg" src="~/css/Bully.jpg" />
            <h2>Bully</h2>
            <h2>PRICE $59.99</h2>

        </div>
        <div class="griditem">
            <img id="gameimg" src="~/css/Gta.jpg" />
            <h2>Gta</h2>
            <h2>PRICE $59.99</h2>
        </div>
        <div class="griditem">
            <img id="gameimg" src="~/css/diablo.jpg" />
            <h2>Diablo</h2>
            <h2>PRICE $59.99</h2>
        </div>
        <div class="griditem">
            <img id="gameimg" src="~/css/LOL.jpg" />
            <h2>league of legends</h2>
            <h2>PRICE $59.99</h2>

        </div>
        <div class="griditem">
            <img id="gameimg" src="~/css/fortnite.jpg" />
            <h2>Fortnite</h2>
            <h2>PRICE $59.99</h2>
        </div>
        <div class="griditem">
            <img id="gameimg" src="~/css/Red.jpg" />
            <h2>Redfall</h2>
            <h2>PRICE $59.99</h2>
        </div>
        <div class="griditem">
            <img id="gameimg" src="~/css/Spider.jpg" />
            <h2>Spiderman</h2>
            <h2>PRICE $59.99</h2>

        </div>
        <div class="griditem">
            <img id="gameimg" src="~/css/Yugioh.jpg" />
            <h2>Master Duel</h2>
            <h2>PRICE $59.99</h2>
        </div>
        <div class="griditem">
            <img id="gameimg" src="~/css/Deadbydaylight.jpg" />
            <h2>Dead by Day Light</h2>
            <h2>PRICE $59.99</h2>
        </div>
        <div class="griditem">
            <img id="gameimg" src="~/css/forest.jpg" />
            <h2>Forest</h2>
            <h2>PRICE $59.99</h2>
        </div>
        <div class="griditem">
            <img id="gameimg" src="~/css/Golf.jpg" />
            <h2>Call Of Duty</h2>
            <h2>PRICE $59.99</h2>
        </div>
        <div class="griditem">
            <img id="gameimg" src="~/css/rust.jpg" />
            <h2>Rust</h2>
            <h2>PRICE $59.99</h2>
        </div>
    </div>

    <div class="footer">
        <a href="https://github.com/Abdull2002" target="_blank"><img class="center-img" src="/css/GitHub-Emblem.png" alt="Github-logo" width="60"></a>
        <a href="https://www.linkedin.com/in/abdullahi-ali-a95775212/" target="_blank"><img class="center-img" src="/css/Linkedin-Logo.png" alt="linkedin" width="60"></a>
    </div>

</body>
</html>
